{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-sh"],
  "overrides": [
    {
      "files": "*.sh",
      "options": {
        "indent": 2,
        "binaryNextLine": true,
        "switchCaseIndent": true,
        "spaceRedirects": true,
        "keepComments": true,
        "functionNextLine": false
      }
    }
  ]
}
